:root {
  --background-color: #00e77f;
  --link-hover: hsla(0, 100%, 50%, 1);
  --link-heading: hsla(0, 100%, 50%, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Inconsolata', sans-serif !important;
  -webkit-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  transition: all 200ms linear;
}

html {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  min-width: 100%;
  background-color: rgb(21, 21, 21);
}

@media (scripting: enabled) {
  .preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
  }
}

@supports (-webkit-touch-callout: none) {
  .preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
  }
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4rem;
  margin-top: -1rem;
}

.maincard {
  display: flex;
  flex-direction: column;
  background-color: rgba(20, 20, 20, 0.935);
  margin-top: 10%;
  width: 700px;
  backdrop-filter: blur(7px);
  box-shadow: 0px 0px 40px rgb(0, 0, 0);
  padding: 1rem;
}

.content {
  display: flex;
  gap: 2rem;
}

.image {
  position: relative;
}

img {
  max-height: 680px;
  max-width: 400px;
  height: 680px;
  padding-left: 10px;
  width: 400px;
  padding-top: 15px;
  object-fit: cover;
  border-radius: 2.5rem;
  filter: brightness(1.25);
}

section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1.5rem;
  width: 300px;
  margin-top: 1rem;
  padding-top: 5px;
  color: aliceblue;
  font-size: 20px;
  font-weight: 100;
  border-color: rgba(255, 255, 255, 0);
  border-style: solid;
  border-width: 2px;
}

.links ul {
  display: flex;
  flex-direction: column;
  gap: 0.12rem;
}

.links h3 {
  color: var(--link-heading);
  font-weight: 600;
  align-items: center;
  display: flex;
  text-decoration: underline;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
    font-weight: 900;
}

:not(h1, h2, h3, h4, h5, h6) > a:hover {
  color: var(--link-hover);
  font-weight: 500;
}

:not(h1, h2, h3, h4, h5, h6) > a {
  padding: 0px;
  text-decoration: none;
  color: aliceblue;
}

h1 {
  font-size: 2.25rem;
  color: hsla(0, 100%, 50%, 1);
  display: flex;
  margin: 1rem;
  margin-bottom: .5rem;
}

.search {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
  margin-left: 1rem;
}

.bg {
  height: 780px;
  position: fixed;
  width: 700px;
  margin-left: -5rem;
  margin-top: -2rem;
  background-color: hsla(0, 100%, 50%, 1);
  box-shadow: 0px 0px 30px hsla(0, 100%, 50%, 1);
  z-index: -1;
}

ul {
  list-style-type: none;

}

ul>li {
  text-indent: -5px;
}

ul>li:before {
  content: "> ";
  text-indent: -5px;
  color: hsla(0, 100%, 50%, 1);
}

sup {
  color: hsla(0, 100%, 50%, 1);
  font-size: 12px;
  margin: 4px;
  font-weight: 300;
}

@media screen and (max-width: 750px) {

  .maincard,
  .bg {
    width: 80vw !important;
    padding: 20px !important;
  }

  .maincard .image {
    position: absolute !important;
    right: -9rem !important;
    top: -16rem !important;
    transform: scale(.2);
  }
}
